.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.slick-slider {
  width: 60%;
}
.slick-prev::before {
  color: #caecf6;
}

.slick-next::before {
  color: #caecf6;
}
